@import 'ember-paper';
@import "bootstrap";
@import "values_importer";
@import 'app/components/post-item/styles';

$font-1x: 14px;
$font-2x: 28px;

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
}

a {
  &:hover {
    text-decoration: none;
    color: $color-snow;
  }
}

.md-toolbar-tools {
  background-color: $dark-grey;
}

.library-item {
  min-height: 150px;
}

.navbar-icon {
  font-size: $font-2x;
  margin: 0 8px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  float: right;
  color: $color-snow;

  .sign-out:hover {
    @include transitions-all;
    transform: scale(1.1);
  }
}

.new-post-form md-input-container {
  display: block;
}
