@import "bootstrap";
@import "values_importer";

$font-1x: 14px;
$font-2x: 28px;

html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
}

.margin-b-10 {
  margin-bottom: 10px;
}


.library-item {
  min-height: 150px;
}

.navbar-right {
  @include transitions-all;
  float: right;
  font-size: $font-2x;
  color: $color-snow;
  margin: 4px;

  .sign-out {
    &:hover {
      transform: scale(1.1);
    }
  }

  .user-name {
    font-size: $font-1x;
  }
}

