@import "values_importer";

section{
  margin: 50px;
}

table{
  width: 100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: $color-snow-light;
}

.tbl-content{
  height: 300px;
  overflow-x: auto;
  margin-top: 0;
  border: 1px solid $color-snow-light;
}

th{
  @include font(12px, 500);
  padding: 20px 15px;
  text-align: left;
  color: $dark-grey;
  text-transform: uppercase;
}

#passports .tbl-content {
  height: 150px;
}

#medicalCerts .tbl-content {
  height: 150px;
}

#endorsements .tbl-content {
  height: 150px;
}
