@import "app/styles/values_importer";

.dashboard-toolbar {
  width: 100%;
  .flex-container {
    width: 100%
  }
}

.flex-container.dashboard-main {
  padding: 0 20px;

  .dashboard-table {
    padding: 0;
  }
}

.dashboard-item {
  margin: 60px auto;
}

.dashboard-table-item {
  list-style-type: none;
  padding: 10px;
  height: auto;
  margin-top: 10px;
}

.dashboard-toolbar-item {
  width: 21%;
  margin: 15px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;

  .statistics-item {
    flex-grow: 1;
  }
}

.go-to-statistics-link {
  position: relative;
  top: 105px;
  left: 35px;
}

@media screen and (max-width: $break-tablet) {
  .dashboard-toolbar-item {
    width: 40%;
    margin: 15px;
  }

  .dashboard-item {
    margin: 30px auto;
  }

  .go-to-statistics-link {
    left: 5px;
  }
}

@media screen and (max-width: $break-desktop) {
  .dashboard-toolbar-item {

    .toolbar-item {
      height: 80px;
    }
  }
}
