& {
  padding: 13px;
  margin-top: 25px;
  @include font(12px, 300);
  color: $grey;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover, &:focus {
    color: $color-snow-light;
  }

  @media screen and (max-width: $break-tablet) {
    display: block;
  }

  a {
    @include transitions-all;
    color: #FFF;
    background: $grey;
    padding: 15px 25px;
    border: solid 1px $grey;

    &:hover, &:focus {
      color: #FFF;
      background-color: $dark-grey;
      border: solid 1px $color-snow-light;
    }
  }
}
