& {
  padding: 13px;
  margin-top: 25px;
  @include font(12px, 300);
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover, &:focus {
    color: $dark-grey;
  }

  @media screen and (max-width: $break-tablet) {
    display: block;
  }

  a {
    color: #FFF;
    background: $grey;
    padding: 5px 10px;
    border: solid 1px $grey;

    &:hover, &:focus {
      color: $dark-grey;
      border: solid 1px $dark-grey;
    }
  }
}
