.toolbar-item {
  background-color: $color-snow;
  text-align: center;
}

.toolbar-item-title {
  padding: 5px 5px;
  @include font(12px, 100);
}

.toolbar-item-value {
  @include font(30px, 200);
}

.toolbar-item.small-value-text {
  .toolbar-item-value {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 5px;

    @media screen and (max-width: $break-desktop) {
      font-size: 14px;
    }

    @media screen and (max-width: $break-phone) {
      font-size: 10px;
    }
  }
}
