@import "app/styles/values_importer";

md-icon.explore-icon {
  font-size: 80px;
  margin-top: 70px;
}

.title {
  text-align: center;
}

.description {
  margin-top: 20px;
  @include  font(12px, 100);
}
