<h1 class="flex-100">Statistics</h1>

<div class="statistics dashboard-item">
  {{dashboard/days-on-board-per-year
    seaserviceDaysPerYear=seaserviceDaysPerYear
    class='statistics-item'
  }}
</div>

<div class="statistics dashboard-item">
  {{dashboard/work-home-ratio-charts workHomeRatioPerYear=workHomeRatioPerYear}}
</div>