<div class="statistics">
  <h1 class="statistics-header">Statistics</h1>

  <div class="statistics-item">
    {{statistics/days-on-board-per-year
      seaserviceDaysPerYear=seaserviceDaysPerYear
    }}
  </div>

  <div class="statistics-item">
    {{statistics/work-home-ratio-charts workHomeRatioPerYear=workHomeRatioPerYear}}
  </div>
</div>
