<h1 class="flex-100">Statistics</h1>

<div class="statistics statistics-item">
  {{statistics/days-on-board-per-year
    seaserviceDaysPerYear=seaserviceDaysPerYear
    class='statistics-item'
  }}
</div>

<div class="statistics statistics-item">
  {{statistics/work-home-ratio-charts workHomeRatioPerYear=workHomeRatioPerYear}}
</div>