<h3>Expiring certificates</h3>
<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr class='header-row'>
      <th>Name</th>
      <th>Expiry Date</th>
    </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    {{#each sortedCertificates as |certificate|}}
      {{dashboard/expiring-certificate-item certificate=certificate session=session}}
    {{else}}
      <p class='no-cert'>No certificates expire within 60 days.</p>
    {{/each}}
    </tbody>
  </table>
</div>
