<h3>
  Certificates renewed based on seaservice
  {{#link-to 'users.certificates' class='zoom-in-icon'}}(go to certificates){{/link-to}}
</h3>
<div class='tbl-header'>
  <table cellpadding="0" cellspacing="0" border="0">
    <thead class="hidden-xs">
      <tr class='header-row'>
        <th rowspan=2 class='col-xs-3'>Name</th>
        <th rowspan=2 class='col-xs-3'>Expiry Date</th>
        <tr>
          <th class='double-row' colspan=3>Days</th>
        </tr>
        <tr>
          <th class='col-xs-2 double-row'>Required</th>
          <th class='col-xs-2 double-row'>Since issued</th>
          <th class='col-xs-2 double-row'>Missing</th>
        </tr>
      </tr>
    </thead>
    <thead class="hidden-sm hidden-md hidden-lg hidden-xl">
      <tr class='header-row'>
        <th class='col-xs-5'>Name</th>
        <th class='col-xs-4'>Expiry Date</th>
        <th class='col-xs-3'>Missing</th>
      </tr>
    </thead>
  </table>
</div>
<div class='tbl-content col-xs-12'>
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    {{#each sortedCertificates as |certificate|}}
      {{dashboard/certificates-renewed-seaservice-item certificate=certificate seaservices=seaservices session=session}}
    {{else}}
      <p class='no-cert'>No certificates to be renwed based on seaservice.</p>
    {{/each}}
    </tbody>
  </table>
</div>
