<div class="panel panel-default post-item">
  <div class="panel-heading">
    <h3 class="panel-title">{{post.title}}</h3>
    <h4 class="panel-category">{{post.category}}</h4>
  </div>
  <div class="panel-body">
    <p>Description: {{post.description}}</p>
  </div>
  <div class="panel-footer text-right">
    {{yield}}
  </div>
</div>