<div class="form-horizontal">
  <div class="form-group">
    {{paper-input
      label="Title"
      value=post.title
      onChange=(action (mut post.title))
      required=true
      errorMessages=(hash required="Title is required.")
    }}
  </div>

  <div class="form-group">
    {{#paper-select
      label="Category"
      options=categories
      selected=post.category
      required=true
      errorMessages=(hash required="Category is required.")
      onChange=(action (mut post.category)) as |category|
      }}
      {{category}}
    {{/paper-select}}
  </div>

  <div class="form-group">
    {{paper-input
    textarea=true
    block=true
    label="Description"
    maxlength=1500
    passThru=(hash rows=5 maxRows=20)
    value=post.description
    onChange=(action (mut post.description))
    required=true
    errorMessages=(hash required="Description is required.")
    }}
  </div>
  <div class="form-group">
    {{#paper-button iconButton=true onClick=(action 'buttonClicked' post) disabled=post.isInvalid}}
      {{paper-icon "save"}}
    {{/paper-button}}
  </div>
</div>
