& {
  display: flex;
  flex-wrap: wrap;
}

.description {
  flex: 0 0 100%;
  text-align: left;
  color: $dark-grey;
  @include font(15px, 300);
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 30px;
}

.work-home-ratio-chart {
  flex: 20%;
}

@media screen and (max-width: $break-desktop) {
  .description {
    padding-left: 0;
  }
}
