<h1>Summary</h1>
<div class="container mobile-vertical">
  {{shared-cv/summary/certificates-table
    certificates=certificates
  }}

  <div class="vertical">
    {{statistics/experience-by-position seaservices=seaservices}}
    {{statistics/experience-by-dp-class seaservices=seaservices}}
  </div>
</div>

{{seaservice-table seaservice=seaservices session=session}}
