<h3>Edit Post</h3>

<div class="row">

  <div class="col-md-6">
    {{post-item-form post=model buttonLabel='Save changes' action='savePost'}}
  </div>

  <div class="col-md-4">
    {{#post-item post=model}}
      <br/>
    {{/post-item}}
  </div>

</div>