<h4>{{title}}</h4>

<div class="col-md-6 new-post-form">
  {{post-item-form post=model session=session buttonLabel=buttonLabel action='savePost'}}
</div>

<div class="col-md-6">
  {{#post-item post=model}}
    <br/>
  {{/post-item}}
</div>