<h4>Add a new post</h4>

<div class="col-md-6">
  {{post-item-form post=model buttonLabel='Add post' action='savePost'}}
</div>

<div class="col-md-4">
  {{#post-item post=model}}
    <br/>
  {{/post-item}}
</div>