{{#each dashboardToolbarItems as |item|}}
  <li class="dashboard-toolbar-item">
    {{dashboard/dashboard-toolbar-item
      class=item.class
      title=item.title
      value=item.value
      isVisible=item.visible
    }}
  </li>
{{/each}}
