<li class="flex-item-small">
  {{dashboard/toolbar-item
    title='Days on board last 12 months'
    value=seaserviceLast12Months
    seaservices=seaservices
  }}
</li>
<li class="flex-item-small">
  {{dashboard/toolbar-item
    title='Work/home ratio'
    value=workHomeRatio
    seaservices=seaservices
  }}
</li>
<li class="flex-item-small">
  {{dashboard/toolbar-item
    title='Third'
  }}
</li>
<li class="flex-item-small">
  {{dashboard/toolbar-item
    title='Fourth'
  }}
</li>
