<li class="dashboard-toolbar-item days-on-board-item">
  {{dashboard/toolbar-item
    title='Days on board last 12 months'
    value=seaserviceLast12Months
  }}
</li>
{{#if firstExpiringCertificatePresent}}
  <li class="dashboard-toolbar-item">
    {{dashboard/toolbar-item
    class='small-value-text'
    title='First expiring certificate'
    value=firstExpiringCert
    }}
  </li>
{{/if}}

<li class="dashboard-toolbar-item">
  {{dashboard/toolbar-item
    title='Work/home ratio'
    value=workHomeRatio
  }}
</li>
<li class="dashboard-toolbar-item">
  {{dashboard/toolbar-item
    title='Total DP hours'
    value=totalDPHours
  }}
</li>
