<h3>
  First expiring certificate
  {{#link-to 'users.certificates' class='zoom-in-icon'}}(go to certificates){{/link-to}}
</h3>
<div class='tbl-header'>
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr class='header-row'>
      <th class='col-xs-6'>Name</th>
      <th class='col-xs-4'>Expiry Date</th>
      <th class='col-xs-2'>Days left</th>
    </tr>
    </thead>
  </table>
</div>
<div class='tbl-content col-xs-12'>
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      {{dashboard/expiring-certificate-item certificate=certificate session=session}}
    </tbody>
  </table>
</div>
