{{#ui/encouragement-sticky-bar}}
  <div class="container">
    <div class="column header">Share your profile with recruiter</div>
    <div class="column area-buttons">
      {{ui/link-button-small
        destination='shared-cv'
        description='Go to your shared CV'
        param=userId
      }}
    </div>
  </div>
{{/ui/encouragement-sticky-bar}}
