{{#paper-toolbar as |toolbar|}}
  {{#sticky-container
    options=stickyOptions
    class='sticky-container'
  }}
    {{#toolbar.tools
      class='toolbar-tools'
    }}
      {{ui/search-input
        class='toolbar-search'
        value=searchTerm
        onChange=(action (mut searchTerm))
      }}
    {{/toolbar.tools}}
  {{/sticky-container}}
{{/paper-toolbar}}
<h1>Certificates</h1>
{{#each certificatesTables as |certificateTable|}}
  {{certificates-table
    certificates=certificateTable.certificates
    title=certificateTable.title
    id=certificateTable.id
    session=session
  }}
{{/each}}

<div class="modal fade"
     id="previewModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <img class='image-preview' src=''>
      </div>
    </div>
  </div>
</div>
