<section>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr class='header-row'>
          <th>Employer</th>
          <th>Vessel's name</th>
          <th>Vessel's Type</th>
          <th>Vessel's GT</th>
          <th>Position</th>
          <th>Sign on</th>
          <th>Sign off</th>
          <th>Days on board / DP Time</th>
          <th>More details</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      {{#each sortedSeaservice as |seaservice|}}
        {{seaservice-item seaservice=seaservice session=session}}
      {{else}}
        <p class='no-seaservice'>You have no seaservice registered</p>
      {{/each}}
      </tbody>
    </table>
  </div>
</section>
