<div class='title-pic'>
  <div class='title-text'>
    <p class='main-text'>
      Have your certificates always with you anywhere you are
    </p>
    <p class='subtitle-text'>
      Free app to manage your certificates and seaservice
    </p>
    {{#unless session.isAuthenticated}}
      {{#paper-button
        class='login-btn'
        raised=true
        onClick=(route-action "signIn" "google")
        accent=true
      }}
        Login with {{fa-icon "google"}}
      {{/paper-button}}
    {{/unless}}
  </div>
</div>
{{outlet}}